html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    color: white;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    height: 7vh;
    width: 100%;
    background-color: rgb(21, 42, 63);
}
.header-element{
    margin: 0 1em;
}
#content-wrapper{
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



#top-section-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#control-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
}
#bottom-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}


.control-button button{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 5px;
    border: 2px solid white;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 4px;
    margin: 5px;
    cursor: pointer;
}

#video-box-wrapper{
    border: 1px solid white;
    /*height: 480px;*/
    width: 100%;
}
#video-feed-wrapper{
    position: relative;
    margin: 1px;
}
.video-streams{
    display: block;
}
#incoming-video-stream{
    background-color: black;
    width: 100%;
    height: 100%;
    /*height: 480px;
    width: 640px;*/
}

.call-buttons{
    width: 2rem;
    height: 2rem;
    padding: 1em;
    margin: 0.5rem;
    cursor: pointer;
    background-color: azure;
    border-radius: 50%;
}
.call-buttons svg{
    height: 100%;
    width: 100%;
    margin: auto;
}
#button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    z-index: 1;
}
#bottom-of-video-call-wrap{
    margin: 0 -2.5rem;
    left: 50%;
    align-items: center;
    position: absolute;
    bottom: 0;
}


/* WebRTC dio*************************************************/

#webRTC{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 30vw;
}

#connect{
    margin: 10%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
#connect-button{
    margin: 0.15rem;
    margin-top: 0.7rem;
    width: 50%;
    height: 1.5rem;
}
.inputs{
    height: 1.5rem;
    width: 10rem;
    border-radius: 5px;
    padding: 0.1rem 0.2rem;
    margin: 0.15rem;
    text-align: center;
}
#status-wrapper{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.states{
    display: flex;
    justify-content: space-between;
}
.state{
    margin: 0.2rem;
}

@media screen and (max-width: 800px) {
    #content-wrapper{
        flex-direction: column;
        align-items: center;
    }
    #webRTC{
        width: auto;
    }
}